//re quired to make a spring hibernate project

user>>account

one user can have multiple accounts

package structure


beans* holds all beans
DAO and impl for all db layer operations
Service class will call daos
Main program will make use of the service class


inject the dao and imples to the service classes
inject the session factory to dao
inject the datasource to the session factory


